{% extends "flm::dialog-window.twig" %}
{% import "flm::dialog-window.twig" as window %}

{% block content %}
    {{ window.pathBrowser(selectedTarget, theUILang.FSfile) }}

    <fieldset>
        <legend>Options:</legend>
        <table border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td>{{ theUILang.FSdhours }}:</td>
                <td align="right"><label><input type="text" name="FS_duration" id="FS_duration"
                                                class="Textbox" value="{{ plugin.config.limits.duration }}"/></label></td>
            </tr>
            <tr>
                <td>{{ theUILang.FSpassword }}:</td>
                <td align="right"><label><input name="FS_password" type="text" id="FS_password" class="Textbox"/>
                    </label><input name="FS_lid" type="hidden" id="FS_lid" value=""/></td>
            </tr>
        </table>
{#
        <textarea name="FS_downlink" rows="2" style="width: 100%" readonly="readonly" id="FS_downlink"></textarea>
#}
    </fieldset>

{% endblock %}
{% block buttons %}
    <div class="aright buttons-list">
        <input type="button" class="flm-diag-start Button" id="FS_addbut" value="{{ theUILang.FSadd }}"
               disabled="disabled"/>
        <input type="button" id="FS_editbut" class="Button" value="{{ theUILang.FSedit }}" style="display: none;"/>
        <input type="button" class="flm-diag-cancel Button"
               value="{{ closeButtonValue is defined ? closeButtonValue : theUILang.fDiagClose }}"/>
    </div>
{% endblock %}

{% block scripts %}
<script>
(function (global) {
    var dialogs = flm.ui.getDialogs();
    var diagId = dialogs.getDialogId('flm-create-share');
    dialogs.setDirBrowser(diagId, true);
    let table = theWebUI.getTable("fsh");

    dialogs.onStart(function () {
        return flm.share.add(
            dialogs.getTargetPath(diagId),
            $('#FS_password').val(),
            $('#FS_duration').val()
        ).then(function (r) {
            console.log(r);
/*            let entry = $.map( r.list, function( value, index ) {
                return value.hash === r.new ? index : null;
            });
            var link = table.getValueById('_fsh_' + entry[0], 'link');

            self.noty = $.noty({
                text: theUILang.FSlinkcreate + ': ' + dialogs.getTargetPath(diagId),
                layout: 'bottomLeft',
                type: 'success',
                timeout: 10000,
                closeOnSelfClick: true
            });
            */
            return r;
        }, function (err) {
            // prevent default error logging from filemanager dialog manager
            flm.utils.logError(err.errcode || 'error',  err.msg, 'filemanager-share');
           // return deferred.reject(err);
        });
    });
})(window);
</script>
{% endblock %}
