{% extends "flm::dialog-window.twig" %}
{% import "flm::dialog-window.twig" as window %}

{% block content %}
    {{ window.pathBrowser(selectedTarget, theUILang.FSfile) }}

    <fieldset>
        <legend>Options:</legend>
        <div class="row mb-3">
            <div class="position-relative">
                <div class="input-group has-validation">
                    <label class="input-group-text" for="FS_duration" class="form-label">{{ theUILang.FS_duration }}</label>
                    <input type="number" id="FS_duration" name="FS_duration" value="{{ plugin.config.limits.duration }}" min="1" step="1" max="{{ plugin.config.limits.duration }}" class="form-control" required>
                    <span class="input-group-text">{{ theUILang.FS_hours }}</span>

                    <div class="invalid-tooltip">
                        Please input a valid duration in hours: 1-{{ plugin.config.limits.duration }}.
                    </div>
                </div>
            </div>
        </div>

        {{ window.passwordField("FS_password") }}

    </fieldset>

{% endblock %}
{% block buttons %}
    <div class="aright buttons-list">
        <input type="button" class="flm-diag-start Button" id="FS_addbut" value="{{ theUILang.FSadd }}"
               disabled="disabled"/>
        <input type="button" id="FS_editbut" class="Button" value="{{ theUILang.FSedit }}" style="display: none;"/>
        <input type="button" class="flm-diag-cancel Cancel Button"
               value="{{ closeButtonValue is defined ? closeButtonValue : theUILang.fDiagClose }}"/>
    </div>
{% endblock %}

{% block scripts %}
<script>
(function (global) {
    var dialogs = flm.ui.getDialogs();
    var diagId = dialogs.getDialogId('flm-create-share');
    dialogs.createDirBrowser(diagId, true);
    let table = theWebUI.getTable("fsh");

    dialogs.onStart(function () {
        return flm.share.add(
            dialogs.getTargetPath(diagId),
            $('#FS_password').val(),
            $('#FS_duration').val()
        ).then(function (r) {
            console.log(r);
/*            let entry = $.map( r.list, function( value, index ) {
                return value.hash === r.new ? index : null;
            });
            var link = table.getValueById('_fsh_' + entry[0], 'link');

            self.noty = $.noty({
                text: theUILang.FSlinkcreate + ': ' + dialogs.getTargetPath(diagId),
                layout: 'bottomLeft',
                type: 'success',
                timeout: 10000,
                closeOnSelfClick: true
            });
            */
            return r;
        }, function (err) {
            // prevent default error logging from filemanager dialog actions
            flm.utils.logError(err.errcode || 'error',  err.msg, 'filemanager-share');
           // return deferred.reject(err);
        });
    });
})(window);
</script>
{% endblock %}
