{% extends "flm::dialog-window.twig" %}
{% import "flm::dialog-window.twig" as window %}

{% block content %}
    {{ window.pathBrowser(selectedTarget, theUILang.FSfile) }}

    <fieldset>
        <legend>Options:</legend>
        <div class="row mb-4">
            <div class="position-relative">
                <div class="input-group has-validation col-md">
                    <label  for="FS_duration" class="input-group-text form-label m-0 pt-1 pb-1">{{ theUILang.FS_duration }}</label>
                    <input type="number" id="FS_duration" name="FS_duration"
                           value="{{ plugin.config.limits.duration }}"
                           min="{{ plugin.config.limits.duration ? 1 : 0 }}" step="1" max="{{ plugin.config.limits.duration }}"
                           class="form-control m-0 p-1" required>
                    <span class="input-group-text m-0 p-1">{{ theUILang.FS_hours }}</span>

                    <div class="invalid-tooltip">
                        {{ theUILang.FSmaxdur }}: 1-{{ plugin.config.limits.duration }}.
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            {{ window.passwordField("FS_password") }}
        </div>

    </fieldset>

{% endblock %}
{% block buttons %}
    <div class="aright buttons-list">
        <input type="button" class="flm-diag-start Button" id="FS_addbut" value="{{ theUILang.FSadd }}"
               disabled="disabled"/>
        <input type="button" id="FS_editbut" class="Button" value="{{ theUILang.FSedit }}" style="display: none;"/>
        <input type="button" class="flm-diag-cancel Cancel Button"
               value="{{ closeButtonValue is defined ? closeButtonValue : theUILang.fDiagClose }}"/>
    </div>
{% endblock %}

{% block scripts %}
<script>
(function () {
    var dialogs = flm.ui.getDialogs();
    var diagId = dialogs.getDialogId('flm-create-share');
    dialogs.createDirBrowser(diagId, true);
    let table = theWebUI.getTable("fsh");

    dialogs.onStart(function () {
        var file = dialogs.dirBrowserInput(diagId).val();
        return flm.share.add(
            dialogs.dirBrowserInput(diagId),
            $('#FS_password'),
            $('#FS_duration')
        ).then(function (r) {
            var link = table.getValueById(thePlugins.get('filemanager-share').table.getEntryId(r.new), 'link');
            return {
                notify: [theUILang.FSlinkcreate + ': ' + file + ' -> ' + link, ]
            };
        });
    });
})();
</script>
{% endblock %}
