{% extends "flm::dialog-window.twig" %}
{% import "flm::dialog-window.twig" as window %}

{% block content %}
    <fieldset>
        <textarea name="FS_downlink" rows="2" style="width: 100%; min-height: 198px" readonly="readonly" id="FS_downlink">{{ data.formatted.5 }}</textarea>

        <table style="width:100%">
            <tr>
                <td><label>Downloads:</label></td>
                <td align="right">{{ data.downloads }}</td>
            </tr>
            <tr>
                <td><label>Expires at:</label></td>
                <td align="right">{{ data.formatted.4 }}</td>
            </tr>
            <tr>
                <td><label>File path:</label></td>
                <td align="right">{{ data.formatted.0 }}</td>
            </tr>
            <tr>
                <td><label>Password:</label></td>
                <td align="right">{{ data.hasPass ? theUILang.yes : theUILang.no }}</td>
            </tr>
        </table>


    </fieldset>

{% endblock %}
{% block buttons %}
    <div class="buttons-list">
        <input class="flm-diag-cancel Cancel Button" type="button"
               value="{{ theUILang.fDiagClose }}"/>
    </div>
{% endblock %}
